/****** Global CSS for restaurant pages ******/
h1 {
    margin: 0;
    font-family: Shrikhand;
}


h3, h4, h5, h6, p {
    margin: 0;
}

h3, h4, h5, h6 {
    font-weight: 500;
}

.gradient-button {
    align-self: center;
    padding: 0 50px;
}

/****** Restaurant pages header style ******/
.restaurant-header {
    background-color: #FFFFFF;
    width: 100%;
    height: 63px;
}

.restaurant-header h1 {
    padding-top: 10px;
}

.restaurant-header .back-to-homepage-arrow {
    font-size: 1.2em;
    position: absolute;
    left: 20px;
}

/****** Menu container header style ******/
.restaurant-featured-image {
    width: 100%;
    height: 275px;
    margin-bottom: -50px;
}

.restaurants-menu-container {
    width: calc(100% - 2*var(--global-padding-left-right));
    padding: 40px var(--global-padding-left-right);
    border-radius: 50px 50px 0 0;
    background-color: var(--background-color);
    gap: 40px;
}

/**** Restaurant menu header style ****/
.menu-title {
    width: 100%;
    justify-content: space-between;
}

.menu-save {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.menu-save input[type="checkbox"], .heart-checked {
    display: none;
}

.menu-save input[type="checkbox"] + label, .heart-unchecked {
    display: block;
    cursor: pointer;
}

.menu-save input[type="checkbox"] + label:hover {
    transform: scale(1.1);
}

.menu-save input[type="checkbox"]:checked + label .heart-unchecked {
    display: none;
}

.menu-save input[type="checkbox"]:checked + label .heart-checked {
    display: block;
}

.menu-save input[type="checkbox"]:checked + label .heart-checked #heart-save {
    fill: url(#lapalettedugout-save);
}

.menu-save input[type="checkbox"]:checked + label .heart-checked .heart-gradient-top {
    stop-color: var(--primary-color);
}

.menu-save input[type="checkbox"]:checked + label .heart-checked .heart-gradient-bottom {
    stop-color: var(--secondary-color);
}

/**** Restaurant Dishes & desserts title style ****/
.dish-container {
    gap: 15px;
    width: 100%;
}

.dish-container .dish-title {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300;
}

.dish-container .dish-title::after {
    content: " ";
    display: block;
    width: 40px;
    margin-top: 5px;
    border-bottom: 2px solid var(--tertiary-color);
}

/**** Menu elements style ****/
.menu-elements-container, .menu-elements, .save-icon-container {
    width: 100%;
    height: 72px;
}

.menu-elements-container {
    width: 100%;
    overflow: hidden;
    background-color: var(--light-contrast-color);
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px #0000001A;
}

.menu-elements {
    width: calc(100% - var(--global-padding-left-right));
    justify-content: space-between;
}

.menu-elements .menu-elements-title {
    display: block;
    width: inherit;
    overflow: hidden;
}

.menu-elements .menu-elements-title h3, p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-elements .menu-elements-title h3 {
    font-size: 1em;
    line-height: 1.5em;
}

.menu-elements .menu-elements-title p {
    font-size: 0.85em;
    width: 90%;
}

.menu-elements .menu-element-price {
    align-self: flex-end;
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 0.9em; 
    font-weight: 700;
}

.save-icon-container {
    width: 80px;
    margin-right: -80px;
    background-color: var(--tertiary-color);
}

.save-icon-container i {
    color: #FFFFFF;
}

.menu-elements, .save-icon-container {
    transition: ease-in;
    transition-duration: 230ms;
}

.menu-elements-container input[type="checkbox"] + label {
    margin-right: -15px;
}

.menu-elements-container input[type="checkbox"]:checked + label .save-icon-container {
    margin-right: 0px;
}

.menu-elements-container input[type="checkbox"]:not(:checked) + label .save-icon-container {
        margin-right: -80px;
}

.menu-elements-container .save-icon-checkbox {
    position: absolute;
    width: calc(100% - 2*var(--global-padding-left-right));
    left: var(--global-padding-left-right);
    height: 72px;
    opacity: 0;
}

.menu-elements-container .save-icon-container {
    font-size: 1.1em;
}

/****** Desktop version ******/
@media (min-width: 1025px) {
    .restaurant-featured-image {
        height: 383px;
    }

    .menu-title {
        width: 100%;
        justify-content: center;
        gap: 25px;
    }

    .dish-container {
        align-items: center;
    }

    .restaurants-menu-container {
        max-width: 1055px;
    }

    .menu-elements-container {
        width: 634px;
    }
    
    .menu-elements-container input[type="checkbox"] + label, .save-icon-checkbox {
        max-width: 634px;
    }

    .menu-elements-container .save-icon-checkbox {
        margin-left: -10px;
        width: 634px;
        left: auto;
    }

    .menu-elements-container:hover input[type="checkbox"]:not(:checked) + label .save-icon-container{
        margin-right: -20px;
        opacity: 0.35;
    }

    .dish-container .dish-title {
        width: 634px;
    }
}